<h3>An occured processing your request</h3>
<h5>Please contactus on algalib@gmail.con</h5>
<hr/>
<h3>Exception details:</h3>
<div class="alert alert-danger mt-1 mb-1">
    <h4> Exception Path</h4>
    
    <p>@ViewBag.ExcepTionPath</p>
</div>
<div class="alert alert-danger mt-1 mb-1">
    <h4> Exception Message</h4>

    <p>@ViewBag.ExceptionMessage</p>
</div>
<div class="alert alert-danger mt-1 mb-1">
    <h4> Exception StackTrace</h4>

    <p>@ViewBag.StackTrace</p>
</div>
